body {
  box-sizing: border-box;
}
main {
  min-height: 80vh;
  box-sizing: border-box;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem0;
}

.rating span {
  margin: 0.1rem;
}
.green-kivani {
  background: #07741e !important;
}

.search_button {
  background: rgb(10, 128, 238) !important;
}
.custom-blue {
  background: #181353 !important;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  background: #07741e;
  height: 550px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid #fff;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}